<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @leader.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @leader.last_name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @leader.nickname %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @leader.date_of_birth %>
</p>

<p>
  <b>Notes:</b>
  <%= @leader.notes %>
</p>

<p>
  <b>Phone:</b>
  <%= @leader.phone %>
</p>

<p>
  <b>Specialty:</b>
  <%= @leader.specialty %>
</p>


<%= link_to 'Edit', edit_leader_path(@leader) %> |
<%= link_to 'Back', leaders_path %>
