<h1>Listing yummy_tummy_day_orders</h1>

<table>
  <tr>
    <th>Participant</th>
    <th>Total cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @yummy_tummy_day_orders.each do |yummy_tummy_day_order| %>
  <tr>
    <td><%= yummy_tummy_day_order.participant_id %></td>
    <td><%= yummy_tummy_day_order.total_cost %></td>
    <td><%= link_to 'Show', yummy_tummy_day_order %></td>
    <td><%= link_to 'Edit', edit_yummy_tummy_day_order_path(yummy_tummy_day_order) %></td>
    <td><%= link_to 'Destroy', yummy_tummy_day_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Yummy tummy day order', new_yummy_tummy_day_order_path %>
