<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :min_grade %><br />
    <%= f.number_field :min_grade %>
  </div>
  <div class="field">
    <%= f.label :max_grade %><br />
    <%= f.number_field :max_grade %>
  </div>
  <div class="field">
    <%= f.label :min_age %><br />
    <%= f.number_field :min_age %>
  </div>
  <div class="field">
    <%= f.label :max_age %><br />
    <%= f.number_field :max_age %>
  </div>
  <div class="field">
    <%= f.label :homeroom %><br />
    <%= f.text_field :homeroom %>
  </div>
  <div class="field">
    <%= f.label :leader_id %><br />
    <%= f.number_field :leader_id %>
  </div>
  <div class="field">
    <%= f.label :rotation %><br />
    <%= f.number_field :rotation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
