<h1>Listing groups</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Min grade</th>
    <th>Max grade</th>
    <th>Min age</th>
    <th>Max age</th>
    <th>Homeroom</th>
    <th>Leader</th>
    <th>Rotation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.number %></td>
    <td><%= group.min_grade %></td>
    <td><%= group.max_grade %></td>
    <td><%= group.min_age %></td>
    <td><%= group.max_age %></td>
    <td><%= group.homeroom %></td>
    <td><%= group.leader_id %></td>
    <td><%= group.rotation %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
