<h3>Groups</h3>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Leader</th>
    <th>Children</th>
    <th>Junior Leaders</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group_path(group) %></td>
    <td>  <% unless group.leader.nil? %> 
        <%= link_to group.leader.name, leader_path(group.leader) %>
        <% end %>
    </td>
    <td><%= group.children.size %></td>
    <td><%= group.juniors.size %></td>
  </tr>
<% end %>

<% if @groups.empty? %>
    <tr>
        <td colspan = "4">
            No groups
        </td>
    </tr>
<% end %>

</table>

<span class="smtext">
<%= will_paginate @groups, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>


