<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @phone_number.phone %>
</p>

<p>
  <b>Type:</b>
  <%= @phone_number.type %>
</p>

<p>
  <b>Contact:</b>
  <%= @phone_number.contact_id %>
</p>


<%= link_to 'Edit', edit_phone_number_path(@phone_number) %> |
<%= link_to 'Back', phone_numbers_path %>
