<h3> YTD Meals </h3>

<table class="table table-striped">
  <tr>
    <th>Food</th>
    <th>Date</th>
    <th>Cost</th>
    <th>Amount Ordered</th>
  </tr>

<% @meals.each do |meal| %>
  <tr>
    <td><%= link_to meal.food, meal_path(meal) %></td>
    <td><%= date_format(meal.date) %></td>
    <td><%= price_format(meal.cost) %></td>
    <td><%= meal.meals_ordered %></td>
  </tr>
<% end %>

<% if @meals.empty? %>
    <tr>
        <td colspan = "4">
            No meals
        </td>
    </tr>
<% end %>

</table>

<span class="smtext">
<%= will_paginate @meals, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>