
<h2> Meal Page </h2>

<p>
  <b>Food:</b>
  <%= @meal.food %>
</p>

<p>
  <b>Date:</b>
  <%= date_format(@meal.date) %>
</p>

<p>
  <b>Cost:</b>
  <%= price_format(@meal.cost) %>
</p>


  <p><!--Functionality buttons-->
    <%= link_to 'Edit', edit_meal_path(@meal), :class => 'btn btn-info' %>
    <%= link_to 'Delete Meal', meal_path(@meal), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  </p>