<h1>Listing absences</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Participant</th>
    <th>Reason</th>
    <th>Days gone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @absences.each do |absence| %>
  <tr>
    <td><%= absence.start_date %></td>
    <td><%= absence.end_date %></td>
    <td><%= absence.participant_id %></td>
    <td><%= absence.reason %></td>
    <td><%= absence.days_gone %></td>
    <td><%= link_to 'Show', absence %></td>
    <td><%= link_to 'Edit', edit_absence_path(absence) %></td>
    <td><%= link_to 'Destroy', absence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Absence', new_absence_path %>
