<!DOCTYPE html>
<html>
<head>
  <title>Manoa Summer Fun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- NOTE: assumes bootstrap grid system -->

  <!-- NAVBAR -->
  <div class="navbar navbar-fixed-top">
  	<div class = "navbar-inner">
  		<div class = "container-fluid">
  			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  			<%= link_to "Summer Fun", home_path, :class => "navbar-link brand" %>
  			<div class="nav-collapse collapse">
            	<p class="navbar-text pull-right">
            		Logged in as <%= link_to "User", home_path, :style=> "color = white;", :class => "navbar-link user-link " %>
            	</p>
            	<ul class = "nav">
            		<li><%= link_to "Groups", groups_path %></li>
            		<li><%= link_to "Keiki", children_path %></li>
            		<li><%= link_to "JRL", junior_leaders_path %></li>
            		<li><%= link_to "YTD", ytd_path %></li>
            	</ul>
            </div>
        </div>
    </div>
  </div>

<!-- MAIN PAGE -->
    <div class="container-fluid">
      <div class="row-fluid">

		      	<!-- SIDE BAR -->
		        <div class="span3">
		          <div class="well sidebar-nav">
		          	<!-- make this a partial -->
		          	<%= render :partial => "#{controller.controller_name}/sidebar" %>

		          </div><!--/.well -->
		        </div><!--/span-->

    <!-- MAIN CONTENT -->

    <!-- ALERTS -->

      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">x</a>
          <%= msg %>
      </div>
         <% end %>

    <!-- Page specific content loaded -->

        <div class="span9">
          <div id="main_content">
           <%= yield %>
          </div>
        </div>

      </div>

  
  			<!-- FOOTER -->
		  <footer class="footer" id="footer">
		    <div class="container">
		      <%# render :partial => "partials/footer" %>
		    </div>
		  </footer>
    </div> <!-- fluid container -->


</body>
</html>
